/* #Basic Styles
================================================== */
html {
    overflow-y: scroll;
}
body {

	background: #fff;
	font-family: 'Open Sans', sans-serif;
        font-weight: 100;
        font-size: 1.00em;
        line-height: 1.45em;
	color: #000080;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
 }




/* #Typography
================================================== */
	h1, h2, h3, h4, h5, h6 {
		color: #810E0E;
		font-family: 'Open Sans', sans-serif;
		font-weight: 100;
        text-transform: uppercase;
    }
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { 
	color: #810E0E;
	font-weight: inherit; 
    }
	h1 { 
        font-size: 26px; 
        line-height: 30px; 
        margin-top: 20px;
        margin-bottom: 20px;
        text-transform: uppercase;
        border-top:1px solid #eee;
        border-bottom: 1px solid #eee;
        padding-top: 10px;
        padding-bottom: 10px;
    }
	h2 {
        font-size: 20px; 
        line-height: 24px; 
        margin-bottom: 8px;
        padding: 10px 0px 10px 0px;
        border-top:1px solid #eee;
        border-bottom: 1px solid #eee;
        text-transform: uppercase;
    }
	h3 { 
        font-size: 18px; 
        line-height: 22px; 
        margin-bottom: 8px; 
        padding-top: 10px;
        padding-bottom: 10px;
        border-top:1px solid #eee;
        border-bottom: 1px solid #eee;
    }
	h4 { font-size: 16px; line-height: 20px; margin-bottom: 4px; }
	h5 { font-size: 14px; line-height: 18px; }
	h6 { font-size: 12px; line-height: 16px; }
	.subheader { color: #777; }

	p { margin: 0 0 15px 0; }
	p img { margin: 0; }
	p.lead { font-size: 21px; line-height: 27px; color: #191970;  }

	em { font-style: italic; }
	strong { font-weight: bold; color: #191970; }
	small { font-size: 80%; }

/*	Blockquotes  */
	blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #191970; font-style: italic; margin-top: 0px !important}
	blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 0px; }
	blockquote cite { display: block; font-size: 12px; color: #191970; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #191970; }

	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }

	.footer {
	color: #cccccc;
	text-align: center;
	}
	.footer p {
	font-size:10px;
	}
	.footer a{
	color: #ccccff;
	}


/* #Links
================================================== */
	a, a:visited { color: #000050; text-decoration: none; outline: 0; }
	a:hover, a:focus { color: #0000cd; }
	p a, p a:visited { line-height: inherit;background-color:#F0F1F4; }



#header {
    background-color: #F0F1F4;
    margin-bottom: 20px;
    border-bottom: 1px #333333 solid;
}
.postdate {
    display: inline;
    font-size: 14px;
    margin-bottom: 6px;
    line-height: 24px;
    text-transform: uppercase;
    color: #0000cd;
}

#logo{
    color: #0000cd;
    font-family: 'Segoe UI', Tahoma, Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-transform: uppercase;
    margin-left: 5px;
    margin-right: 0px;
}
    #logo a {
        text-decoration: none;
    }

.semi {
    font-weight: 600;
}


.main_nav {
    float: right;
}

    /*font-family: 
    text-transform: uppercase;
    letter-spacing: .7px;*/

nav .menuitem {
    text-align: left;
    list-style-type: none;
    float: left;
    text-transform: uppercase;
    letter-spacing: .7px;
    white-space: nowrap;
    color: #181818;
    font-size: 12px;
    position: relative;
    display: block;
}
    nav .menuitem a {
        text-decoration: none;
    }

    nav .menuitem:hover a{
        color:#0000cd;
    }
nav .seperator {
    width: 15px;
    display: block;
    float: left;
    height: 1px;

}
.mobilenav {
    float: right !important;
    display: block !important;
}


/**************************************************************************************/
/*************************** Tag cloud *******************************************/
/**************************************************************************************/

#cloud { margin:10;}
/*#cloud li {display: inline;}*/
#cloud { padding: 8px; line-height: 3em; text-align: right; }
 #cloud a { padding: 0px; }
#cloud a.tag1 { font-size: 1.2em; font-weight: 300;  color:#336600}
 #cloud a.tag2 { font-size: 1.2em; font-weight: 300; color:#999900}
 #cloud a.tag3 { font-size: 1.4em; font-weight: 320; color:#336600}
 #cloud a.tag4 { font-size: 1.4em; font-weight: 320; color:#003300}
 #cloud a.tag5 { font-size: 1.6em; font-weight: 340; color:#999900}
 #cloud a.tag6 { font-size: 1.6em; font-weight: 340; color:#999900}
 #cloud a.tag7 { font-size: 1.8em; font-weight: 360; color:#336600}
 #cloud a.tag8 { font-size: 1.8em; font-weight: 360; color:#003300}
 #cloud a.tag9 { font-size: 2.0em; font-weight: 380; color:#999900}
 #cloud a.tag10 { font-size: 2.0em; font-weight: 380; color:#003300}
/**************************************************************************************/
/*************************** Blog Post List *******************************************/
/**************************************************************************************/
.postArchive li {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;  
}
.postArchive li a{


}
.postArchive li span {
    float: right;
    text-transform: uppercase;
    font-size: 14px;
    color: #000080;
}


/**************************************************************************************/
/*************************** Blog Posts ***********************************************/
/**************************************************************************************/
.doc-section img, .idea img{
    max-width: 100%;
    height: auto;
    margin: 5px;
}
article p {
    font-size: 1.0em;
    line-height: 175%;
    margin-top: 25px;
}
.idea {
    margin-bottom: 20px;
    padding-bottom: 10px;
    /*border-bottom: 1px solid #F0F1F4;*/
}
.idea article p {
    font-size: 1em;
    line-height: 125%;
    margin-top: 0px;
}
.idea article h2{
    border-top: 0px;
    border-bottom: 0px;
    padding-bottom: 0px;
}

article ul li {
    font-size: 1.1em;
    margin-left: 20px;
    line-height: 125%;
    list-style-type:circle;
}

.article_nav {
    margin-top: 15px;
    margin-bottom: 10px;
    display: block;
}
.article_nav.left {
    float: left;
    display: block;
}
.article_nav.right {
    float: right;
    display: block;
}

.comments_reactions{
    font-size: 14px;
    text-transform: uppercase;
}

.footer-nav{
    width: auto;
    display: block;
    padding-bottom: 10px;
    overflow: hidden;
}
.meta{
    display: block;
    padding-top: 10px;
}
.footer-nav p .meta{
    display: block;
}

.footer-nav p a, p a:visited {
    text-transform: uppercase;
    background-color: inherit;
}
.doc-section{
    margin-bottom: 30px;
}

/**************************************************************************************/
/*************************** Author Bio ***********************************************/
/**************************************************************************************/
#author{
    padding: 10px 10px 0 10px;
    margin:0 0 30px 0;
    overflow: hidden;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
    max-width: 100%;
    width: auto;
    display: block;
}

#author #author-image{ 
    display: block;
    width: 84px;
    height: 84px;
    float: left;
    padding-right:10px;
    padding-bottom: 2px;
}
#author #author-image img{
    border: 2px solid #EEE;
    margin: 0 0 0 0;

}

#author #author-bio{
    width: auto;
    display: inline;
    margin-left: 10px;
    padding-left: 10px;
}

#author #author-bio p {
    margin-bottom: 0px;
}

#author #author-bio p a, p a:visited{
    text-transform: none;
}
/**************************************************************************************/
/*************************** Photograph Posts *****************************************/
/**************************************************************************************/
.main_photograph{
    width: 100%;
}
.main_photograph img{
    width: 100%;
    margin: 0px;
}

.photograph_title{
    float: left;
}

.info_comment_links a{
    text-decoration: none;
}

.photograph_details #image_title {
    font-variant: small-caps;
    font-size: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
    overflow: auto;
}
.photograph_details #date {
    font-size: 11px;
    padding-bottom: 8px;
}
.photograph_details #description {
    text-align: justify;
    border-bottom: 1px #999999 solid;
    padding-bottom: 2px;
}
.photograph_details #photo_exif {
    font-variant: small-caps;
    font-size: 16px;
    padding-bottom: 2px;
    width: 25px;
    border-bottom: 1px #999999 solid;
}

.meta {
    margin-top: 20px;
    padding-top: 10px;
}

/**************************************************************************************/
/*************************** Photograph Grid  *****************************************/
/**************************************************************************************/
.photo_thumb {
    margin-bottom: 10px;
    margin-left: 18px;
    display: block;
    float: left;
    width: 186px;
    height: 210px;
    overflow: hidden;
}

.photo_thumb.port {
    margin-bottom: 10px;
    margin-left: 18px;
    display: block;
    float: left;
    width: 87px;
    height: 210px;
    overflow: hidden;
}

.clear_thumb {
    position: absolute;
    z-index: 2;
    width: 186px;
    height: 210px;
}

.photo_thumb.port a .clear_thumb{
    width: 87px;
    height: 210px;
}
.normal_thumb {
    background-position: center center;
    background-repeat: no-repeat;
    display:block;
    height: 124px;
    width: 186px;
}

.portrait_thumb {
    background-position: center center;
    background-repeat: no-repeat;
    display:block;
    width: 87px;
    height: 124px;
}
.thumb_details {
    padding: 7px 0 0 2px;

}
.thumb_title h6 {
    font-size: 13px;
    line-height: 16px;
}
.thumb_details .thumb_description {
    width: 100%;
    padding-top: 5px;
    text-align: left;
    line-height: 13px;
    font-size: 9px;
    display: block;
}
#filters a {
    text-decoration: none;
    font-size: 14px;
    text-transform: lowercase;
    padding-left: 4px;
}

    #filters a:hover {
        color:#CE8B10;
    }

#filters .selected {
    font-style: italic;
}
#filters .title {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .7px;
}
/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.6s;
     -moz-transition-duration: 0.6s;
      -ms-transition-duration: 0.6s;
       -o-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**************************************************************************************/
/*************************** Home Page        *****************************************/
/**************************************************************************************/

.tag_articles ul li {
    margin-bottom: 5px;
    line-height: 20px;
    list-style-position: inside;
    width: 100%;
}
.tag_articles ul li a {
        display: block;
        text-decoration: none;
        font-size: 13px;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
    }
.tag_articles ul li a:hover {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        color: #0000cd;
    }

#second_element{
	margin-top: 10px;
}

.large_home_photo {
    margin-bottom: 10px;
    display: block;
    float: left;
    width: 280px;
    height: 170px;
}
     #second_element.large_home_photo{
        margin-bottom: 0px;
    }

.large_home_photo.port {
    display: block;
    width: 280px;
    height: 183px;
    overflow: hidden;
}
.recent_home_photos {
    display: block;
    width: 100px;
    height: 67px;
}
    .recent_home_photos.port {
        display: block;
        overflow: hidden;
        width: 100px;
        height: 67px;
    }

    .recent_home_photos .normal_thumb {
        background-position: center center;
        height: 67px;
        width: 100px;
    }
    .recent_home_photos .portrait_thumb {
        background-position: center center;
        background-repeat: no-repeat;
        width: 100px;
    }
.recent_home_photos img.clear_thumb {
    position: absolute;
    z-index: 2;
    width: 100px;
    height: 67px;
}

.recent_home_photos.port img.clear_thumb{
    width: 100px;
    height: 67px;
}

.featured_article a {
    text-decoration: none;
}
    .featured_article a:hover {
        color: #0000cd;
    }
.featured_article li a, .featured_article li a:hover{
    border-top: none;
    border-bottom: none;
}

#intro_text {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 3px;
    border: 1px solid rgba(211, 211, 211, 0.2);
	-webkit-box-shadow: -1px 5px 10px lightgray;
	-moz-box-shadow: -1px 5px 10px lightgray;
	box-shadow: -1px 5px 10px lightgray;
}
#intro_text p{
    text-align: justify;
    font-size: 13px;
    margin-right: 3px;
}

.featured_article {
    float: right;
}
.recent_articles {
    float: left;
}

#social{
	display:block;
	float: right;
	margin:0;
	padding:0;
	width:100%;
	text-align:left;
}
    #social ul {
        width: 100%;
        margin: 10px 0 0 0;
        padding: 0;
        list-style: none;
    }

        #social ul li {
            display: block;
            float: right;
            width: 32px;
            height: 32px;
            margin: 0;
            padding-left: 10px;
            font-size: 1px;
            line-height: 1px;
        }

            #social ul li a {
                display: block;
                float: left;
                background: no-repeat top left;
                text-decoration: none;
                border-top: none;
                border-bottom: none;
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
                opacity: 0.30;
                filter: alpha(opacity=30);
                -webkit-transition: opacity ease 0.3s;
                -moz-transition: opacity ease 0.3s;
                -o-transition: opacity ease 0.3s;
                transition: opacity ease 0.3s;
            }

                #social ul li a:hover {
                    display: block;
                    float: left;
                    text-decoration: none;
                    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
                    opacity: 0.80;
                    filter: alpha(opacity=80);
                }

                #social ul li a #email {
                    width: 32px;
                    height: 32px;
                    background: url('../img/mail.png') no-repeat top left;
                    -webkit-transition: background ease 0.3s;
                    -moz-transition: background ease 0.3s;
                    -o-transition: background ease 0.3s;
                    transition: background ease 0.3s;
                }

                #social ul li a:hover #email {
                    width: 32px;
                    height: 32px;
                    background: url('../img/mail_hover.png') no-repeat top left;
                }

                #social ul li a #twitter {
                    width: 32px;
                    height: 32px;
                    background: url('../img/twitter.png') no-repeat top left;
                    -webkit-transition: background ease 0.3s;
                    -moz-transition: background ease 0.3s;
                    -o-transition: background ease 0.3s;
                    transition: background ease 0.3s;
                }

                #social ul li a:hover #twitter {
                    width: 32px;
                    height: 32px;
                    background: url('../img/twitter_hover.png') no-repeat top left;
                }

                #social ul li a #facebook {
                    width: 32px;
                    height: 32px;
                    background: url('../img/facebook-logo.png') no-repeat top left;
                    -webkit-transition: background ease 0.3s;
                    -moz-transition: background ease 0.3s;
                    -o-transition: background ease 0.3s;
                    transition: background ease 0.3s;
                }

                #social ul li a:hover #facebook {
                    width: 32px;
                    height: 32px;
                    background: url('../img/facebook-logo_hover.png') no-repeat top left;
                }

                #social ul li a #rss {
                    width: 32px;
                    height: 32px;
                    background: url('../img/rss-basic.png') no-repeat top left;
                    -webkit-transition: background ease 0.3s;
                    -moz-transition: background ease 0.3s;
                    -o-transition: background ease 0.3s;
                    transition: background ease 0.3s;
                }

                #social ul li a:hover #rss {
                    width: 32px;
                    height: 32px;
                    background: url('../img/rss-basic_hover.png') no-repeat top left;
                }

                #social ul li a #linkedin {
                    width: 32px;
                    height: 32px;
                    background: url('../img/linkedin-logo-square2.png') no-repeat top left;
                    -webkit-transition: background ease 0.3s;
                    -moz-transition: background ease 0.3s;
                    -o-transition: background ease 0.3s;
                    transition: background ease 0.3s;
                }

                #social ul li a:hover #linkedin {
                    width: 32px;
                    height: 32px;
                    background: url('../img/linkedin-logo-square2_hover.png') no-repeat top left;
                }

/**************************************************************************************/
/*************************** About Page        ****************************************/
/**************************************************************************************/
#about h3, #about h4{
    margin-top:5px;
}
.icon {
    width: 24px;
    height: 24px;
    padding-right:2px;
    display:inline;
}

.contact ul li {
    line-height:24px;
}
#license {
    font-size:12px;
    text-align:justify;
}
#photo_credit {
    font-size:10px;
    font-style:italic;
}
/**************************************************************************************/
/*************************** Disqus           *****************************************/
/**************************************************************************************/
#disqus_thread {
    margin-left: 10px;
    margin-right: 10px;
}

#disqus_thread h3{
    font-size: 12px;
}
#disqus_thread a {
    text-decoration: none;
}
#dsq-footer {
    font-size: 12px;
    line-height: 14px;
}
    #dsq-footer a em{
        text-decoration: none;
    }
.dsq-reply {
    font-size: 12px;
}
.dsq-trackback-url {
    font-size: 12px;
}
.dsq-comment-header {
    background: none !important;
    border: none !important;
    padding-left: 0px !important;
    margin-bottom: 0px !important;
}
.dsq-avatar img{
    height: 24px !important;
    width: 24px !important;
}
.dsq-comment-body {
    padding-left: 29px !important;
}
.dsq-comment-text {
    font-size: 13px !important;
}
#dsq-content .dsq-comment-text p{
        margin-bottom: 5px !important;
    }

li.dsq-comment {
    margin-bottom: 1px !important;
}


/**************************************************************************************/
/*************************** Code Format      *****************************************/
/**************************************************************************************/
pre {
    white-space: pre;
}
code{
    margin: 3px 0;
    padding: 6px;
    display: block;
    font: 500 1em/1.5em 'Verdana';
    background: #CCC;
    border: 1px solid black;
    overflow-x:scroll;
}
    code.terminal {
        font: 1em/1.5 'monaco','andale mono','lucida console',monospace;
        color:white;
        background-color:black;
    }


/**************************************************************************************/
/*************************** Media Queries    *****************************************/
/**************************************************************************************/

@media all {

}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {

}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .mobilenav {
        display: none;
        visibility: hidden;
    }
}
/* Mobile Landscape */
@media only screen and (min-width: 575px) and (max-width: 767px) {
    .container {
        width: 550px;
    }
    .container .one-third.column {
        width: 125px;
    }
    .container .two-thirds.column {
        width: 224px;
        float: right;
    }
    nav .seperator {
        width: 10px;
    }
    .container .two.columns {
        width: 100px;
    }
     .container .fourteen.columns {
        width: 450px;
    }

    .container .ten.columns, .container .five.columns{
        width: 550px;
    }
    .container .sixteen.columns {
        width: 550px;
    }
    nav .menuitem {
        font-size: 10px;
    }
    #home_profile, #intro_text {
        visibility: hidden;
        display: none;
    }
    #home_recent_photographs {
        height: 120px;
    }
    .hide {
        visibility: hidden;
        display: none;
    }
    .recent_home_photos {
        margin-right: 10px !important;
    }
    .recent_articles, .recent_home_photos ul#list {
        visibility: hidden;
        display: none !important;
        height: 0px;
    }
}
@media only screen and (min-width: 479px) and (max-width: 574px) {
    .container .one-third.column {
        width: 125px;
    }
    .container .two-thirds.column {
        width: 224px;
        float: right;
    }
    nav .menuitem {
        font-size: 10px;
    }
    #home_profile, #intro_text {
        visibility: hidden;
        display: none;
    }
    #home_recent_photographs {
        visibility: hidden;
        display: none;
    }
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    .container .one-third.column.alpha {
        width: 100%;
        text-align: center;
        border-bottom: 1px #999999 solid;
        margin-bottom: 5px;
    }
        .container .one-third.column a {
            text-align: center;
      
        }
    #logo {
        margin-bottom: 0px;
    }
    .container .two-thirds.column {
        width: 100%;
        float: right;
        text-align: center;
    }
    .main_nav {
        width: 100%;
        float: none;
        text-align: center;
        margin: 0 auto;
    }
    nav .menuitem {
        position: inherit;
        width: 86px;
        text-align: right;
        font-size: 12px;
    }

    nav .menuitem.omega {
        text-align: right;
        float: right;
    }
    #logo {
        margin-left: 0px;
    }
    .container .two.columns {
        width: 100px;
    }
    .container .fourteen.columns {
        width: 186px;
    }

    #home_profile, #intro_text {
        visibility: hidden;
        display: none;
    }
    #home_recent_photographs {
        visibility: hidden;
        display: none;
    }
    
}
